body {
    background-color: FFFCF9;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

/* #img1 {
    border-radius: 50%;
    margin-top: 10%;
} */

button {
    margin-bottom: 10%;
    border-style: solid;
    /* border-radius: 80%; */
    width: 200px;
    height: 50px;
}