/* Home */
#logo {
    margin: 10%;
}


/* Sign In */
.logo_img {
    margin: 10%;
    margin-bottom: 0%;
}

#sign_in_h1, #sign_in_h4 {
    margin: 8%;
}

.button {
    margin-top: 5%;
    width: 50%;
    background-color: #5598B6;
    text-align: center;
    color: white;
}


/* Join */
#membership {
    /* text-align: center; */
    margin-top: 10%;
}

#join_h1 {
    margin: 8%;
}

.membership_h {
    color: #5598B6;
    font-weight: bold;
}

.monthly {
    font-weight: 600;
}

.daily {
    font-weight: 500;
}


/* Profile */
.quote {
    margin: 10%;
    text-align: center;
    font-weight: 800;
    color: #3a697e;
}

.form_feeling {
    text-align: center;
    margin: 10%;
    background-image: url("/static/createdbymomsformamas.webp");
    background-size: cover;
    background-position: center;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 9px #5598B6;
    color: #080808;
}


.form_feeling form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}


.radio_group {
    display: flex;
    flex-direction: column;
}

.display_feeling {
    text-align: center;
    margin-bottom: 15%;
    font-size: large;
}


/* Explore */

#select_membership {
    text-align: center;
    margin-top: 20%;
}

.reviews {
    text-align: center;
    margin: 5%;
}

.review_title {
    font-weight: 500;
}

/* Movement */

.movement_title {
    color: #3a697e;
}