{% extends 'base.html'%}

{% block content %}
<h3 class="quote">"The first step is the hardest, but every step after that brings you closer to the strongest version of you."</h3>

<h6><strong>Select on the video title to explore more!</h6></strong>
<div class="container my-5">
    <!-- Section 1 -->
    <h5>Pelvic Floor / Core Basics</h5>
    <div class="row gy-4">
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/Rn-l8TlTto0" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Postnatal Pelvic Floor Recovery</h5></a>
                    <p class="text-muted">8 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/VhrSG-R90QM" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Kegel Exercises</h5></a>
                    <p class="text-muted">6 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/mnRMQI8awMs" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Postnatal Pelvic Floor Workout</h5></a>
                    <p class="text-muted">11 Minutes</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2 -->
    <h5 class="mt-5">Cardio</h5>
    <div class="row gy-4">
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/Yj_o6Xo-tPo" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Cardio Workout - No talking</h5></a>
                    <p class="text-muted">12 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/RRdAVeBYwTw" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Cardio Workout - Safe after C Section + Diastasis Recti</h5></a>
                    <p class="text-muted">20 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/mYlcWUii1CI" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Cardio Workout - Walking HIIT - Not easy</h5></a>
                    <p class="text-muted">17 Minutes</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 3 -->
    <h5 class="mt-5">Stretch</h5>
    <div class="row gy-4">
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/s5ly73hyRhg" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Deep Stretch for tight neck, shoulders, back, hips</h5></a>
                    <p class="text-muted">20 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/JLuf-Mi9-z4" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Full Body Stretch</h5></a>
                    <p class="text-muted">6 Minutes</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center">
                <iframe src="https://www.youtube.com/embed/0Kq_fdoFjfc" title="YouTube video" allowfullscreen></iframe>
                <div class="card-body">
                    <a href="/video_detail"><h5 class="card-title movement_title">Recovery Stretch Routine</h5></a>
                    <p class="text-muted">10 Minutes</p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}