{% extends 'base.html' %}

{% block content %}
        <h3 class="quote">“I AM WORTHY OF HAVING “ME” TIME, WITHOUT FEELING GUILTY”</h3>

        <h4>Welcome {{ username }},</h4>
        <div class="form_feeling">
            <form action="/profile" method="POST">
                <h4>How are you feeling today?</h4>
                <div class="radio_group">
                    <label for="feeling_ready">Ready</label>
                    <input type="radio" id="feeling_ready" name="user" value="Ready">
                    <label for="feeling_tired">Tired</label>
                    <input type="radio" id="feeling_tired" name="user" value="Tired">
                </div>
                <button type="submit" class="button">Check In</button>
            </form>
        </div>

        {% if user == 'Ready' %}
            <p>"You're stronger than you know, and today 
                is the perfect day to prove it to yourself. Let's go!"
            </p>
        {% elif user == 'Tired' %}
            <p>"You may be tired, but every small step forward is proof 
                of your strength. Rest if you need, but don’t forget how 
                far you’ve come."
            </p>
        {% endif %}

{% endblock %}